.client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.client__item {flex-basis: calc((100% - 150px) / 6);}

.client__card-thumb {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--client-border);
    border-radius: 4px;
    transition: border var(--transition-dur-tf);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }   
} 

.logo-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition: fill var(--transition-dur-tf);

    .client__link:hover &,
    .client__link:focus & {
        fill: var(--accent-color);
    }
}